streamlit>=1.30.0
langchain>=0.1.15
langchain-community>=0.0.21
langchain-core>=0.1.44
langchain-ollama>=0.0.6
ollama>=0.1.6
unstructured>=0.11.0
tqdm>=4.66.1
openai>=1.21.0
chromadb>=0.4.24
